<div class="container">
  <div class="box">
    <table class="table-minimal">
      <tbody>

      <% @users.each do |user| %>
        <tr>
          <%#= render user %>
          <td>
            <%= user.id %>
          </td>
          <td>
            <%= link_to user.email, user %>
          </td>
          <td>
            <%= form_for(user) do |f| %>
              <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}, class: "button is-primary is-dropdown") %>

            <td>
              <%= f.submit 'Change Role', class: "button is-dark is-rounded" %>
            </td>
          <% end %>

          <td>
            <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button is-danger is-rounded') unless user == current_user %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>